@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto:700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Yesteryear");
html {
  font-size: 10px;
  line-height: 1.4;
  /*Set default lin e spacing*/
  -ms-text-size-adjust: 100%;
  /*Font fix for Windows phones when swapping  disply portait v landscape*/
  -webkit-text-size-adjust: 100%;
  /*Font fix for IOS phonds when swapping  disply portait v landscape*/ }

/*IE 9 Display type fix */
article, aside, audio, blockquote, figcaption, figure, footer, h1, h2, h3, h4, h5, h6, header, nav, p, section, main, video, ul, ol, div, section {
  display: block;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  color: #444; }

hr {
  box-sizing: content-box;
  /*Firefox display fix */
  /*fix Horizontal Rule display in IE/Edge */
  height: 0;
  overflow: visible; }

/* IE 10 Hidden vs None display type fix */
[hidden] {
  display: none; }

section.printOnly {
  display: none; }

p {
  padding: 8px 0; }

hr {
  margin: 25px 0; }

h1 {
  font-size: 4.2rem;
  padding: 5px 0; }

h2 {
  font-size: 3.6rem;
  padding: 5px 0; }

h3 {
  font-size: 3.0rem;
  padding: 5px 0; }

h4 {
  font-size: 2.4rem;
  padding: 5px 0; }

h5 {
  font-size: 1.8rem;
  padding: 5px 0; }

h6 {
  font-size: 1.4rem;
  padding: 5px 0; }

ul {
  list-style-type: none; }

abbr {
  font-size: inherit;
  text-decoration: none; }

address {
  font-size: inherit;
  font-style: normal; }

blockquote {
  font-style: italic;
  font-weight: 700;
  padding: 5px 5%;
  border-left: 3px solid rgba(0, 0, 0, 0.4); }

cite, i, var {
  font-size: inherit;
  font-style: italic; }

code {
  font-family: monospace;
  font-size: inherit;
  font-style: normal; }

em {
  font-size: inherit;
  font-style: normal;
  font-weight: 700; }

a {
  color: #D2691E;
  text-decoration: none; }

a:visited {
  color: #556B2F; }

a:hover {
  color: #FF6347; }

a:active {
  color: #32CD32; }

.bold {
  font-weight: 700; }

.capitalize {
  text-transform: capitalize; }

.casualHead {
  font-family: "Roboto", sans-serif; }

.fineHead {
  font-family: "Yesteryear", serif; }
  .fineHead h1 {
    font-size: 4.5rem;
    padding: 5px 0; }

.italic {
  font-style: italic; }

.lowercase {
  text-transform: lowercase; }

.reverseTransparent {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  vertical-align: middle;
  padding: 50px;
  border: 1px solid rgba(255, 255, 255, 0.9);
  width: 75%;
  height: auto;
  margin: 0 auto;
  position: absolute;
  top: 25px;
  left: 12.5%; }
  .reverseTransparent p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem; }

.uppercase {
  text-transform: uppercase; }

.tx-cntr {
  text-align: center; }

.tx-left {
  text-align: left; }

.tx-r {
  text-align: right; }

/* Helper classes for the framework */
.onLeft {
  float: left; }

.onRight {
  float: right; }

.clearFix {
  clear: both; }

/* GRID SYSTEM */
/* 960px wide grid - 12 column grid solution */
/* Each column width - 100%/12 = 8.33% */
/* All rows should be wrapped in a div */
/* All columns should be wrapped in a 'row' div and add up to 12 per row */
/* For mobile portrait phones all columns will take 100% */
[class*="col-"] {
  width: 100%;
  float: left; }

.row:after {
  content: "";
  clear: both;
  display: table; }

/*******Media Queries ********/
/* Mobile landscape */
@media screen and (min-width: 600px) and (orientation: landscape) {
  .col-ml-1 {
    width: 8.33%; }

  .col-ml-2 {
    width: 16.66%; }

  .col-ml-3 {
    width: 25%; }

  .col-ml-4 {
    width: 33.33%; }

  .col-ml-5 {
    width: 41.66%; }

  .col-ml-6 {
    width: 50%; }

  .col-ml-7 {
    width: 58.33%; }

  .col-ml-8 {
    width: 66.66%; }

  .col-ml-9 {
    width: 75%; }

  .col-ml-10 {
    width: 83.33%; }

  .col-ml-11 {
    width: 91.66%; }

  .col-ml-12 {
    width: 100%; } }
/* Tablet portrait */
@media screen and (min-width: 768px) {
  .col-tb-1 {
    width: 8.33%; }

  .col-tb-2 {
    width: 16.66%; }

  .col-tb-3 {
    width: 25%; }

  .col-tb-4 {
    width: 33.33%; }

  .col-tb-5 {
    width: 41.66%; }

  .col-tb-6 {
    width: 50%; }

  .col-tb-7 {
    width: 58.33%; }

  .col-tb-8 {
    width: 66.66%; }

  .col-tb-9 {
    width: 75%; }

  .col-tb-10 {
    width: 83.33%; }

  .col-tb-11 {
    width: 91.66%; }

  .col-tb-12 {
    width: 100%; } }
/* Large screens */
@media screen and (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33%; }

  .col-lg-2 {
    width: 16.66%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33%; }

  .col-lg-5 {
    width: 41.66%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33%; }

  .col-lg-8 {
    width: 66.66%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33%; }

  .col-lg-11 {
    width: 91.66%; }

  .col-lg-12 {
    width: 100%; } }
@media print {
  header[role="banner"], footer, nav {
    display: none; }

  main, article {
    width: 90%;
    margin: 0px;
    padding: 0px; }

  html, body {
    font: normal 1em serif;
    color: #000;
    background-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none; }

  a {
    font: italic 1em 'Times New Roman', Times, serif;
    color: #666; }

  a:after {
    content: "( " attr(href) " )"; }

  section.printOnloy {
    display: block;
    width: 90%;
    postion: absolute;
    bottom: 0; } }

/*# sourceMappingURL=freshplate.css.map */
