// Variables: Color, fonts etc

$anchorStd: #D2691E;
$anchorVis: #556B2F;
$anchorHov: #FF6347;
$anchorActv: #32CD32;
$anchorLit: #eee;

$btnBrdrLite: #eee;
$btnBrdrDrk: #999;
$btnColor: #bbb;
$btnHover: #ddd;
$btnActive: #000;

//fonts
$robot: 'Roboto', sans-serif;
$yesterYr: 'Yesteryear', serif
