// Variables: Color, fonts etc

$anchorStd: #D2691E;
$anhorVis: #556B2F;
$anchorHov: #FF6347;
$anchorActv: #32CD32;
$anchorLit: #eee;

$btnBrdrLite: #eee;
$btnBrdrDrk: #999;
$btnColor: #bbb;
$btnHover: #ddd;
$btnActive: #000;

$navDark: #464655;
$navHov: #e4b363;
$navActive: #e4b363;
$navFixedBg: #fafbf5;
$navLiteYw: #ebebd3;

//fonts
$robot: 'Roboto', sans-serif;
$yesterYr: 'Yesteryear', serif
