// Form Styles
/* Requirwres JQuery Mobile Insert linkl at the top of the page 
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> */


form {
	padding: 0 .5em;
	label {
		display:none;
		font: normal 1.2em/1.3 $robot;
		margin:.5em .2em;
		padding: .4em;
		vertical-align: center;
	}

	input, textarea {
		font:italic 1.4rem/2.5 $robot;
		color: #999;
		font-weight: lighter;
		margin:.5em .2em;
		padding: .5em;
		display: block;
	}

}/*end Froms */

.field-border-none {
	border:none;
	background-color: $btnBrdrLite;
}

.field-rnd-crnr {
	border-radius: .5em;
}

.field-theme-night {
	color:$anchorLit;
	background-color: $navDark;
}

.field-theme-gray {
	color: $btnBrdrLite;
	background-color: $btnBrdrDrk;
}
@media screen and (min-width:768px) {
	form {
		margin: 1%;
		label {
			display: inline-block;

			}
		input {
			display: inline-block;
			}
		textarea {
			display: inline-block;

			}
		button  {
			padding: 15px 10px;
		}
	}
}
