
/* GALLERY 1- The AUTO-SLIDESHOW */
.auto_slideshow{
  width:300px;
  height:300px;
  margin: 0 auto;
  box-shadow: 0 0 15px #000;
  overflow: hidden;
    ul{
        width:2100px;
        height: 300px;
    }
    li{
        list-style-type: none;
        float: left;
        width:300px;
        height:300px;
    }
}

/* GALLERY 2- The thumbnail slider */
.gallery_container{
    border: 2px solid #063d5c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 10px auto;
    padding: 0;
    display: table;
}

.gallery{
    width: $thGalWidth;
    height: $thGalHeight;
}

.slider{
    overflow: scroll;
    ul{
        width: 100000px;
        list-style: none;
        margin-left: 0;
        li{
            float: left;
            img{
                width: $thGalWidth;
                height: $thGalHeight;
            }
        }
    }
}

 .sliderCtrls{
        margin-top: -10em;
         button{
             cursor: pointer;
             position: relative;
             opacity: .5;
             &:hover{
                 opacity: 1;
             }
         }
    }
 .btn_prev{
    &:before{
        font-family: 'Material Icons';
        content: '\e314';
        font-size: 1.5em;
        background-color: #f1f1f1;
        color:black;
    }
 }

 .btn_next{
     float: right;
    &:after{
        font-family: 'Material Icons';
        content: '\e315';
        font-size: 1.5em;
        background-color: #f1f1f1;
        color:black;
    }
 }

.thumb_container{
    text-align: center;
    width: $thGalWidth;
}
.thumb_gallery{
    padding: 5px;
    display: inline-block;
    ul{
        padding: 2px;
        display: inline-block;
        li{
            display: inline-block;
            list-style: none;
            padding: 0;
            border: solid 1px #aaa;
            background: radial-gradient(rgba(255, 255, 255, 0.8) 50%, rgba(180,180,180,0.8));
            &:hover{
                background: radial-gradient(rgba(255, 255, 255, 0.3) 50%, rgba(180,180,180,95%));
            }
            a{
                display: inline-block;
                padding: 5px;
                text-decoration: none;
                img:hover{
                    opacity: 1.0;
                }
            }
        }
    }
}
.imgThumb{
    opacity: .5;
    vertical-align: bottom;
}

.imgThumbSelected{
    opacity: 1.0;
}


/*******MEDIA QUERIES ************/

@media screen and (min-width:600px) and (orientation:landscape){




}
