@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto:700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Yesteryear');

/* General TAG Formats */
p {
    font-size: 1.6rem;
    line-height: 1.5;

}
hr {
    margin: 25px 0;
}
h1 {
    font-size: 4.2rem;

}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3.0rem;
}
h4 {
    font-size: 2.4rem;
}
h5 {
    font-size: 1.8rem;
}
h6 {
    font-size: 1.4rem;
}
ul {
    list-style-type: none;
}
a {
    color: $anchorStd;
    text-decoration: none;
}
a:visited {
    color: $anhorVis;
}
a:hover {
    color: $anchorHov;
}
a:active {
    color:$anchorActv;
}


// Font classes
.casualHead {
    font-family: $robot;
}
.fineHead {
    font-family: $yesterYr;
}
.fineHead h1 {
    font-size: 4.5rem;
    margin-left: 5px;
}


