/* Helper classes for the framework */
/*Float classes*/
.onLeft{
    float:left;
}

.onRight{
    float:right;
}
/* Utility Classes */
.clearFix{
    clear: both;
}

// Special Styles
.bold {
    font-weight: 700;
}
.capitalize {
    text-transform: capitalize;
}
.uppercase {
    text-transform: uppercase;
}
/*  alignment styles and more  */
.tx-cntr {
    text-align: center;
}
.tx-left {
    text-align: left;
}
.tx-r {
    text-align: right;
}

/* Specialty Presentation styles */
.reverseTransparent {
    color: rgba(255,255,255,.9);
    background-color: rgba(0,0,0,.4);
    text-align: center;
    vertical-align: middle;
    padding: 50px;
    border: 1px solid rgba(255,255,255,.9);
    width: 75%;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 25px;
    left: 12.5%;
	p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
	}

}
.centerSection:before {
	clear:both
}
.centerSection {
	margin: 0 auto;
}
